{% extends 'base.html' %}
{% load static %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block mainContent %}
    {% include 'fragments/navbar.html' %}


    <div class="container-fluid cont">
        <div class="row">
            <div class="col-7 d-flex flex-column items-center justify-content-center gap-3">

                <div class="container">
                    <h1 class=" text-light title">Faça acontecer, sem perder o fluxo</h1>

                    <h3 class="text-light p-1">não possui cadastro?</h3>
                    <h3 class="text-light p-1">Cadastre-se agora na plataforma utilizando o botão abaixo</h3>
                    <a class="btn btn-lg text-light p-2 button" href="{% url 'signUp' %}">cadastre-se</a>
                </div>

            </div>
            <div class="col-5">
                <img src="{% static 'images/imgHome.png' %}" alt="" class="img">
            </div>
        </div>
    </div>
{% endblock mainContent %}
