{% extends 'base.html' %}

{% load static %}

{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block mainContent %}

    <div class="container-fluid containerColor d-flex align-items-center justify-content-center">
        <form action="{% url 'signUp' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card cardColor w-100  d-flex align-items-center justify-content-center">

                <div class="container d-flex flex-column align-items-center justify-content-center">
                    <div class="row mb-3 text-light">
                        <h1> Cadastro </h1>
                    </div>

                    <div class="row mb-3 d-flex justify-content-center">

                        {{ context.form.user_name }}
                        {{ context.form.user_email }}
                        {{ context.form.user_password }}

                    </div>

                    <div class="row mb-3">

                        <button type="submit" class="btn btn-lg text-light p-2 button">Confirmar</button>

                    </div>


                </div>
            </div>
        </form>

    </div>

{% endblock mainContent %}
