.containerColor {
    background-color: #1465BB;
    height: 100vh;
    padding: 30px;
}

.cardColor {
    background-color: #0E4D7A;
    max-width: 20rem;
    min-height: 40vh;
}

.button{
    background-color: #2196F3
}

.button:hover{
    background-color: #2196F3
}