
{% load static %}
{% block extraHead %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand fs-1" href="{% url 'home' %}">task<span class="text-primary">Flex</span></a>
            <a class="btn d-flex fs-4" type="submit" href="{% url 'logIn' %}"> Entrar </a>
        </div>
    </nav>
