.cont{
    background-color: #1465BB;
    height: 100vh;
    padding: 30px;
}
.title{
    font-size: 60px;
    font-weight: bold
}

.img{
    height:480px;
    width: 460px;
    object-fit: cover;
}

.button{
    background-color: #2196F3

}